- title "Your Projects"

.page-header
  .btn-toolbar.pull-right
    = link_to new_project_path, class: 'btn' do
      %i.icon-edit
      New Project
  %h1 Your Projects

%table.table.table-striped
  - @projects.each do |project|
    %tr
      %td
        .pull-right.muted
          = timeago_tag project.updated_at
        %i.icon-inbox
        = link_to project.name, project
        .muted
          - if message = project.last_message
            = image_tag avatar(message.user, s: 16)
            %strong= message.user.name
            %em= truncate message.body, length: 50
            in
            = link_to message.thread.name, message.thread

- if @projects.size < 1
  .well
    You don't have any projects yet.
    = link_to "Create one!", new_project_path