.page-header
  .btn-toolbar.pull-right
    = link_to "New Message", new_message_path(project_id: @project.id), class: "btn btn-primary"
    = link_to 'Edit Project', edit_project_path(@project), class: 'btn'

  %h1= @project.name 

%table.table.table-striped
  %tbody
    - @project.threads.each do |thread|
      %tr
        %td
          .pull-right.muted
            = timeago_tag thread.updated_at
          = link_to thread.name, thread 
          .muted
            %strong John Adams
            = truncate thread.messages.last.body, length: 50
  

= link_to 'All Projects', projects_path
