- title @project.name

.page-header
  .btn-toolbar.pull-right
    = link_to new_message_path(project_id: @project.id), class: "btn btn-primary" do
      %i.icon-edit.icon-white
      New Message
    = link_to edit_project_path(@project), class: 'btn' do
      %i.icon-asterisk
      Edit Project

  %h1= @project.name

%table.table.table-striped
  %tbody
    - @threads.each do |thread|
      %tr
        %td
          .pull-right.muted
            = timeago_tag thread.updated_at
          = link_to thread.name, thread
          .muted
            = image_tag avatar(thread.last_message.user, s: 16)
            %strong= thread.last_message.user.name
            = truncate thread.last_message.body, length: 50
- if @project.threads.size < 1
  .well
    There aren't any messages here.
    = link_to "Send one!", new_message_path(project_id: @project.id)

.muted
  = link_to 'All Projects', projects_path
  \- Created by #{@project.creator.name}