!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    = title_tag
    %meta{:content => "", :name => "description"}/
    - if current_user
      %meta{:content => Pusher.key, :name => "push-key"}/
      %meta{:content => current_user.push_channel, :name => "push-channel"}/
    %meta{:content => "", :name => "author"}/
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag :application, :media => "all"
    = csrf_meta_tags
  %body
    .container#main-container
      .row
        .span9
          %div{style: "padding-right: 20px"}
            .flashes
              - [:notice, :error, :alert].each do |level|
                - unless flash[level].blank?
                  .alert{class: flash_class(level)}
                    = flash[level]
            = render 'layouts/local_notifications'
            = yield
        .span3
          = render 'layouts/navbar'
    = javascript_include_tag "http://js.pusher.com/1.12/pusher.min.js"
    = javascript_include_tag :application