!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    = title_tag
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag :application, :media => "all"
    = csrf_meta_tags
  %body
    .container
      %header#main
        .pull-right
          - if user_signed_in?
            = current_user.name
            \ -
            = link_to "Sign Out", destroy_user_session_path, method: :delete
          - else
            = link_to "Sign In", new_user_session_path
            \|
            = link_to "Sign Up", new_user_registration_path
        %h1#logo= link_to "Threads", root_url
      .flashes
        - [:notice, :error, :alert].each do |level|
          - unless flash[level].blank?
            .alert{class: flash_class(level)}
              = flash[level]
      = yield
    = javascript_include_tag :application